/target/
/output/
node_modules/
scratch/
.vscode/
Microsoft/
mindee_line_debug.json
dist/win-unpacked/
dist/*.exe
dist/*.blockmap
dist/builder-*.yml
dist/builder-*.yaml
.env
*.log
/.m2/
/config/application-sqlserver.properties
/config/application-local.properties
.~lock.*
